{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand my-2" href="{% url 'home' %}">
        <img src="{% static 'base/images/rn-logo-preta.png' %}" width="170" alt="Logo" loading="lazy"/>
    </a>
    <a class="navbar-toggler border border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
          <a class="navbar-brand my-2" href="{% url 'home' %}">
              <img src="{% static 'base/images/rn-logo-preta.png' %}" width="170" alt="Logo" loading="lazy"/>
          </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      {% if user.is_authenticated %}

      {% else %}
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contato">Contato</a>
          </li>
        </ul>
          <div class="btn-container mt-auto">
            <button class="btn btn-custom me-2" onclick="location.href='{% url 'login' %}'">Entrar</button>
            <button class="btn btn-custom" onclick="location.href='{% url 'register' %}'">Cadastre-se</button>
          </div>
      </div>
     {% endif %}
    </div>
  </div>
</nav>
<script src="{% static 'js/scripts.js' %}"></script>
